@import 'compass';
@import 'font-awesome';
@import 'game';

$background-color: #081a2a;

@mixin mobile{
  @media screen and (max-width: 360px) {
    @content;
  }

}

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', san-serif;
}

body{
  background: $background-color;
}

#game{
  margin: 40px auto;
  @include mobile{
    margin: 0 auto;
    display: none;
  }
}
.no-mobile{
  display: none;
  @include mobile{
    width: 320px;
    height: 180px;
    display: block;
    margin: 0 auto;
    @include background-image(image-url('no-mobile.png'));
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

footer{
  background: darken($background-color, 2);
  font-size: 11px;
  color: #595b75;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid #484a5f;

  @include mobile{
    position: relative;
  }

  a{
    color: #7f83a7;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

.mixpanel{
  position: absolute;
  right: 10px;
  bottom: 10px;
  @media screen and (max-width: 600px){
    position: relative;
    bottom: 0;
  }
}